@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');


body {
    font-family: "Poppins";
    margin: 0;
}

:root {
    --mexican-pink: #BC2F59;
    --tree-green: #06818F;
    --grape-purple: #27213C;
    --white: rgb(248, 248, 250);
}


.navbar--desktop {
    background-color: var(--tree-green);
    color: var(--white);
    height: 100px;
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
}
.navbar--links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar__search-input-container , .navbar__search-icon {
    display: flex;
    align-items: center;
}

.navbar--search-input {
    width: 100%;
    border-radius: 10px;
    height: 20px;
}

.navbar--mobile {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    width: 250px;
}

.navbar--links-container {
    display: flex;
    flex-direction: column;
}


.hero {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1468781840274-cbaa1abd0f12?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4150ce36ce4db742e6b37a551577d5fb&auto=format&fit=crop&w=2255&q=80");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.hero__main-text {
    font-size: 5rem;
    outline: 3px solid rebeccapurple;
}

.cards__container {
    display: flex;
}
.card {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 50px 150px;
    outline: 2px solid rebeccapurple;
}
.card__image-container {
    overflow: hidden;
}
.card__image {
   grid-column-start: 1;
   width: 100%;

}

.card__title {
    grid-column-start: 1;
    grid-row-start: 2;
}

.card__description {
  grid-column-start: 1;
  grid-row: 3/4;
}

/* .card__image-container {
    width: 100%;
    height: 100%;
    
} */