*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

:root {
    --primary-color: #71605c;
    --secondary-color: #b8b5b5;
    --light-primary-color: #ac9b93;
    --text-primary-color:  #FFFFFF;
    --text-green-color: #3dad4e;

    --navbar--toolbar--height:64px;

    --button-color-default: #3dad4e;
    
}

header{
    background-color: var(--primary-color);
}
.menu__icon{
    fill: var(--secondary-color);
    background: var(--primary-color);
    height: 24px;
}
.menu__icon:hover{
    cursor: pointer;
}

.navbar__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.navbar__item{
    float: left;
}
.navbar__link{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

.search__container{
    margin: 0px 5px;
    padding: 0;
    overflow: hidden;
    width: calc(100% - 640px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.search__container--box {
    float: right;
    width: 50%;
    border: 0 none;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 20px;
}
.search__icon {
    pointer-events: none; 
    display: block; 
    width: 24px; 
    height: 24px;
    fill: var(--text-primary-color);
}

.toolbar{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 55px;
    padding: 0 16px;
    font-size: 20px;
}
.menu__mobile{
    position: fixed;
    width: 0;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    z-index: 0;
    transition-property: visibility;
    transition-duration: 200ms;
}
.menu__mobile[opened]{
    visibility: visible;
    z-index: 10;
    width: 100%;
    transition-duration: 200ms;
}
.menu__mobile--scrim{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition-duration: 200ms;
    transition-property: opacity;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
}
.menu__mobile--scrim[opened]{
    opacity: 1;
}    
.menu__mobile--panel{
    transition-duration: 200ms;
    position: fixed;
    top: 55px;
    bottom: 0;
    right: 0;
    width: 20%;
    min-width: 200px;
    transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    background-color:  var(--secondary-color);
}
.menu__mobile--panel[opened]{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.maintitle{
    background-color: var(--light-primary-color);
    color: var(--text-primary-color);
    text-align: center;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    padding: 15px;
}
.main__content{
    flex: 1;
    margin: 60px 5px;
}
.main__content--grid{
    display: flex;
    justify-content: space-between;
}
.figure{
    margin: 5px;
}
.footer{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.footer__button{
    background-color: var(--button-color-default);
    color: var(--text-primary-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    border: none;
    outline: none;
}

.green{
    color: var(--text-green-color);
}
.figcaption__p{
    margin: 10px;
}

@media screen and (min-width:426px) {
    #menu,.menu__mobile{
        display: none !important;
    }
}
@media screen and (max-width:426px) {
    #navbar{
        display: none !important;
    }
}

/*
.navbar {
    background: var(--primary-color);
    /*border: 1px solid transparent;*/
/*}

.navbar__toolbar{
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.navbar__icon{
      fill: var(--secondary-color);
      background: var(--primary-color);
      opacity: 0.8;
      width: 100%;
      height: 24px;
      display: block;
}

.navbar__maintitle{
    background-color: var(--light-primary-color);
    color: var(--text-primary-color);
    text-align: center;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}

.grid{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
}

.div__grid--link{
    -webkit-flex: 1 calc(33% - 20px);
    flex: 1 calc(33% - 20px);
    max-width: calc(33% - 20px);
    height: 30vmax;
    min-height: 250px;
    margin: 10px;
    text-decoration: none;
    background-color: white;
}

.div__grid--item{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
}











.footer{
    
    position: absolute;
    bottom: 35px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    
}
.footer__button{
    background-color: var(--button-color-default);
    color: var(--text-primary-color);
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    padding: 15px;
    border: none;
    outline: none;
}*/