<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Ejemplos de Layouts</title>
		<link rel="stylesheet" type="text/css" href="styles.css">
	</head>
	<body>
		<header class="header">
			<nav id="mainNav" class="header__nav navToggle">
				<div class="header__navHolder">
					<div class="header__navClose"></div>
					<ul class="header__list">
						<li><a class="header__link" href="#1">Home</a></li>
						<li><a class="header__link" href="#1">Shop</a></li>
						<li><a class="header__link" href="#1">Specials</a></li>
						<li><a class="header__link" href="#1">Support</a></li>
						<li><a class="header__link" href="#1">Cycling club</a></li>
					</ul>
					<div class="search-bar">
						<input class="search" type="text" name="">
					</div>
				</div>
			</nav>
		</header>
		<div class="hero"><h1 class="hero__title">Hill Valley Bikes</h1></div>
		<div class="mainContent">
			<ul class="newsList">
				<li class="newsList__article">
					<article>
						<img class="article__img" src="200.jpeg">
						<h2 class="article__title">The all new <strong class="article__title--focus">Lightning Bolt</strong></h2>
						<div class="article__description">Our fastest bike moves so fast you'd swear you had gone back in time.</div>
					</article>
				</li>
				<li class="newsList__article">
					<article>
						<img class="article__img" src="200-1.jpeg">
						<h2 class="article__title">The Classic <strong class="article__title--focus">Starter</strong></h2>
						<div class="article__description">The Starter is will work when you need to reach that important date on time.</div>
					</article>
				</li>
				<li class="newsList__article">
					<article>
						<img class="article__img" src="200.jpeg">
						<h2 class="article__title">Move cargo with<strong class="article__title--focus">The Capacitor</strong></h2>
						<div class="article__description">Yu need to move stuff. Our cargo-carrying bike won’t leave you in flux.</div>
					</article>
				</li>
				<li class="newsList__article">
					<article>
						<img class="article__img" src="200-1.jpeg">
						<h2 class="article__title">Great gift <strong class="article__title--focus">certificates</strong></h2>
						<div class="article__description">Give your loved ones the abillity to move under their own power.</div>
					</article>
				</li>
				
			</ul>
			<div class="asldk">
				<div class="quote">
					<quote class="quote__text">Great Scott, this is a great ride. I wouldn’t be without my Classic Starter!</quote>
					<div class="quote__author">- Robert Z.</div>
				</div>
			</div>

			<div class="callToAction">
				<a class="btn" href="#">Find your perfect ride</a>
			</div>
		</div>

		<script type="text/javascript" src="js.js"></script>
	</body>
</html>