<!DOCTYPE html>
<html>
    <head lang="es">
        <link rel="stylesheet" href="styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Practica 1</title>
    </head>
    <body>
        <nav class="menu">
           <button class="menu-button">-</button>
           <button class="menu-button1">HOME</button>
           <button class="menu-button2">SHOP</button>
           <button class="menu-button3">SPECIALS</button>
           <button class="menu-button4">SUPPORT</button>
           <button class="menu-button5">CYCLING CLUB</button>
           <input type="text">
        </nav>
        <nav class="header">
            <p class="title">Hill Valley Bikes</p>
        </nav>
        <nav class="content">
            <nav class="nav__content1">
                <img src="image1.jpg">
            </nav>
            <nav class="nav__content2">
                <img src="imagen2.jpg">
            </nav>
            <nav class="nav__content3">
                <img src="image1.jpg">
            </nav>
            <nav class="nav__content4">
                <img src="imagen2.jpg">
            </nav>
        </nav>
        <nav class="nav__text">
            <nav class="content__cita">
                <p class="cita">"whjsh wjsgjwb jbwjgskjsw swjgwjgjw wjgswjgss wjsgjwkwwgkw wjgjgwkjwkw"</p>
                <p class="autor">- Roberto Z.</p>
            </nav>
            <nav class="content__img--text">
                <nav class="title__image">
                    <h4>Title of Image</h4>
                </nav>
                <nav class="nav__img--text">
                    <p class="text__img">jshkashdajs sajhdajsh ajshkahk</p>
                    <img src="image1.jpg">
                </nav>
            </nav>
        </nav>
        <nav class="nav__button">
            <button class="find">Fins Your Perfect Ride</button>
        </nav>
    </body>
</html>