* {
    padding: 0;
    margin: 0;
}

:root{
    --brand-brown: rgb(129, 81, 81);
    --brand-grey: grey;
    --brans-green: green;
    --margin: 5px;
}

.menu{
    align-items: center;
    background-color: var(--brand-grey);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 30px;
    width: 100%;
    margin: var(--margin);
    padding: 3px;
}

.menu-button{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 4px;
    transition: transform .8s;
    height: 15px;
    text-align: center;
}

.menu-button{
    outline: none;
}

.menu-button:active{
    background-color: white;
    color: black;
    transform: translateY(3px);
}

.header{
    align-items: center;
    background-color: var(--brand-brown);
    display: flex;
    height: 50px;
    justify-content: center;
    width: 100%;
    margin: var(--margin);
    color: white;
    font-size: 20px;
}

.title{
    font-size: 25px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    margin: 30px var(--margin);
    justify-content: center;
    width: 100%;
    padding: var(--margin);
}


.nav__content1, .nav__content2{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 150px;
    height: 350px;
}

.nav__content3, .nav__content4, .nav__text, .menu-button1, .menu-button2, .menu-button3, .menu-button4, .menu-button5, input{
    display: none;
}

img{
    width: 150px;
    height: 150px;
}

.nav__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.nav__button{
    outline: none;
}

.nav__button{
    transform: translateY(3px);
}

.find{
    width: 270px;
    height: 60px;
    background-color: var(--brans-green);
    color: white;
    border-radius: 4px;
    transition: transform .8s;
    text-align: center;
    font-size: 20px;
}

.content__img--text{
    display: none;
}



@media screen and (min-width:480px){
    .menu{
        justify-content: space-between;
    }
    .menu-button1, .menu-button2, .menu-button3, .menu-button4, .menu-button5{
        display: flex;
        background-color: transparent;
        border: transparent;
        color: white;
        border-radius: 4px;
        transition: transform .8s;
        height: 15px;
        text-align: center;
        outline: none;
        transform: translateY(3px);
        padding: 0 0 0 15px;
        font-size: 10px;
    }

    .header{
        align-items: center;
        background-image: url('imagen3.jpg');
        background-repeat: repeat-x;
        display: flex;
        height: 150px;
        justify-content: left;
        width: 100%;
        margin: var(--margin);
        color: white;
    }

    .title{
        width: 25%;
        font-size: 30px;
    }

    input{
        display: flex;
        border-radius: 5px;
        height: 15px;
        margin: 0 0 0 60px
    }

    .menu-button{
        display: none;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 270px;
        margin: var(--margin);
        margin: 30px var(--margin);
        justify-content: center;
        width: 100%;
    }

    .nav__content3{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        width: 150px;
        height: 200px;
    }

    .nav__text{
        display: flex;
        height: 70px;
        margin: var(--margin);
        justify-content: center;
        width: 100%;
    }

    .cita{
        height: 100px;
        font-size: 25px;
        color: black;
        text-align: center;
    }
}

@media screen and (min-width:780px){
    .menu{
        justify-content: space-between;
    }
    .menu-button1, .menu-button2, .menu-button3, .menu-button4, .menu-button5{
        display: flex;
        background-color: transparent;
        border: transparent;
        color: white;
        border-radius: 4px;
        transition: transform .8s;
        height: 15px;
        text-align: center;
        outline: none;
        transform: translateY(3px);
        padding: 0 0 0 15px;
        font-size: 10px;
    }

    .header{
        align-items: center;
        background-image: url('imagen3.jpg');
        background-repeat: repeat-x;
        display: flex;
        height: 150px;
        justify-content: left;
        width: 100%;
        margin: var(--margin);
        color: white;
    }

    .title{
        width: 25%;
        font-size: 30px;
    }

    input{
        display: flex;
        border-radius: 5px;
        height: 15px;
        margin: 0 0 0 60px
    }

    .menu-button{
        display: none;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 270px;
        margin: var(--margin);
        margin: 30px var(--margin);
        justify-content: center;
        width: 100%;
    }

    .nav__content3, .nav__content4{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        display: flex;
        width: 150px;
        height: 200px;
    }

    .nav__text{
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 200px;
        margin: var(--margin);
        justify-content: center;
        width: 100%;
    }

    .cita{
        height: 100px;
        font-size: 20px;
        color: black;
    }

    .content__img--tex{
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    img{
        width: 150px;
        height: 150px;
    }

    .text__img{
        width: 50px;
        height: 50px;
        font-size: 20px;
    }
       
}