* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.loader {
    display: flex;
    justify-content: center;
    padding-top: 20%;
}

.loader__data {
    padding: 25px;
    border-radius: 6px;
    background-color: #24323D;
    color: #eee;
    cursor: pointer;
    transition: all .6s;
}

.loader__data:hover {
    background-color: #8AAEBE;
    color: #000;
    transition: all .6s;
}

.loader__bar {
    border-radius: 3px;
    height: 5px;
    width: 0px;
    transition: width 2s;
    background-color: #428CFF;
}

.loader__message--style {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: #46B29D;
}