<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ejemplos de Layouts</title>
</head>
<body>
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a class="navbar__link" href="">Home</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="">Abaut us</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="">Cointact</a>
            </li>
        </ul>
    </nav>

    <br>
    <hr>
    <br>

    <nav class="navbar--flex">
        <ul class="navbar__list--flex">
            <li class="navbar__item--flex">
                <a class="navbar__link--flex" href="">Flexbox</a>
            </li>
            <li class="navbar__item--flex">
                <a class="navbar__link--flex" href="">Abaut us</a>
            </li>
            <li class="navbar__item--flex">
                <a class="navbar__link--flex" href="">Cointact</a>
            </li>
        </ul>
    </nav>

    <br>
    <hr>
    <br>

    <nav class="navbar--grid">
        <ul class="navbar__list--grid">
            <li class="navbar__item--grid">
                <a class="navbar__link--grid" href="">CSS Grid</a>
            </li>
            <li class="navbar__item--grid">
                <a class="navbar__link--grid" href="">Abaut us</a>
            </li>
            <li class="navbar__item--grid">
                <a class="navbar__link--grid" href="">Cointact</a>
            </li>
        </ul>
    </nav>

    <br>
    <hr>
    <br>

    <nav class="navbar--mobile">
        <ul class="navbar__list--mobile">
            <li class="navbar__item--mobile">
                <a class="navbar__link--mobile" href="">CSS mobile</a>
            </li>
            <li class="navbar__item--mobile">
                <a class="navbar__link--mobile" href="">Abaut us</a>
            </li>
            <li class="navbar__item--mobile">
                <a class="navbar__link--mobile" href="">Cointact</a>
            </li>
        </ul>
        <button>Menu</button>
    </nav>
    <nav class="sidenav">
        <ul class="sidenav__list">
            <li class="sidenav__item">
                <a class="sidenav__link" href="">Responsive Disign</a>
            </li>
            <li class="sidenav__item">
                <a class="sidenav__link" href="">Abaut us</a>
            </li>
            <li class="sidenav__item">
                <a class="sidenav__link" href="">Cointact</a>
            </li>
        </ul>
    </nav>

    <script src="index.js"></script>
</body>
</html>