<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Osvaldo&#39;s website</title>
</head>

<body>
    <nav class="navbar">
        <ul class="navbar__list">
            <li class="navbar__item">
                <a class="navbar__link" href="">Tres</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="">Uno</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="">Dos</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar--flex">
        <ul class="navbar__list--flex">
            <li class="navbar__item--flex">
                <a class="navbar__link" href="">Tres</a>
            </li>
            <li class="navbar__item--flex">
                <a class="navbar__link" href="">Uno</a>
            </li>
            <li class="navbar__item--flex">
                <a class="navbar__link" href="">Dos</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar--grid">
        <ul class="navbar__list--grid">
            <li class="navbar__item--grid">
                <a class="navbar__link" href="">Tres</a>
            </li>
            <li class="navbar__item--grid">
                <a class="navbar__link" href="">Uno</a>
            </li>
            <li class="navbar__item--grid">
                <a class="navbar__link" href="">Dos</a>
            </li>
        </ul>
    </nav>

    <nav class="navbar--mobile">
        <ul class="navbar__list--mobile">
            <li class="navbar__item--mobile">
                <a class="navbar__link" href="">Tres</a>
            </li>
            <li class="navbar__item--mobile">
                <a class="navbar__link" href="">Uno</a>
            </li>
            <li class="navbar__item--mobile">
                <a class="navbar__link" href="">Dos</a>
            </li>
        </ul>

    </nav>

    <nav class="sidenav">
        <ul class="sidenav__list--mobile">
            <li class="sidenav__item--mobile">
                <a class="sidenav__link" href="">Tres</a>
            </li>
            <li class="sidenav__item--mobile">
                <a class="sidenav__link" href="">Uno</a>
            </li>
            <li class="sidenav__item--mobile">
                <a class="sidenav__link" href="">Dos</a>
            </li>
        </ul>
    </nav>
</body>

</html>