<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="styles3.css">
    <meta charset="utf-8">
    <title>Ejemplos de Layouts</title>
  </head>
  <body>

    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a class="navbar__link" href="">HOME</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="">SHOP</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="">SPECIALS</a>
        <li class="navbar__item">
          <a class="navbar__link" href="">SUPPORT</a>
        <li class="navbar__item">
          <a class="navbar__link" href="">CYCLING CLUB</a>
        </li>
      </ul>
    </nav>
    <nav class="saira">
      <img src="bicicleta.jpg">
    <nav class="navbar--grid">
      <ul class="navbar__list--grid">
        <li class="navbar__item--grid">
          <a class="navbar__link--grid" href="">The all new</a>
          <p>Our fastest bike is so</p>
          <p>fast you´d swear youd</p>
          <p>had gone back in time.</p>
        </li>
        <li class="navbar__item--grid">
          <a class="navbar__link--grid" href="">The Classic</a>
           <p>The Starter will work</p>
          <p>when you need to</p>
          <p>reach that important</p>
          <p>date on time</p>
        </li>
        <li class="navbar__item--grid">
          <a class="navbar__link--grid" href="">Move Cargo With</a>
          <p>You need to move stuff.</p>
          <p>Our cargo-carrying bike</p>
          <p>won´t leave you in flux</p>
        </li>
      </ul>
    </nav>
  </body>
</html>