* {
    padding: 0;
    margin: 0;
}

:root{
    --brand-red: #ff0000;
    --brans-green: #00ff00;
}

.nav__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 70px;
    margin: 50px 0;
}

.nav__button{
    outline: none;
}

.nav__button{
    transform: translateY(3px);
}

.empezar{
    width: 270px;
    height: 60px;
    background-color: var(--brans-green);
    color: white;
    border-radius: 4px;
    transition: transform .8s;
    text-align: center;
    font-size: 20px;
}

img{
    width: 350px;
    height: 350px;
}

.nav__img{
    display: none;
    justify-content: center;
    width: 100%;
    height: 400px;
}