<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layouts</title>
</head>
<body>
    <header class="website__header">
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item"><a href="#" class="navbar__link">Home</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Shop</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Special</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Support</a></li>
                <li class="navbar__item"><a href="#" class="navbar__link">Cycling Club</a></li>
            </ul>
            <div class="searchbar">
                <input type="text" name="search" id="" class="searchbar__input">
                <i class="searchbar__icon"><img class="lupa" src="img/lupa.png" alt="lupilla"></i>
            </div>
        </nav>
        <h1 class="website__title">Hill Valley <br class="--tablet--desktop"> Backpacks</h1>
    </header>
    <section class="articles">
        <article class="new-article">
            <figure class="article__image">
                <img src="img/back1.jpg" alt="Imagen2">
            </figure>
            <h2 class="article__title--gray">Tell all new</h2>
            <h2 class="article__title--black --green">Lightning Bolt</h2>
            <p class="article__description">
                I suppose I could part with 'one' and still be feared… Doomsday device? 
            </p>
        </article>
        <article class="new-article ">
            <figure class="article__image">
                <img src="img/back2.jpg" alt="Imagen2">
            </figure>
            <h2 class="article__title--gray">The Classic</h2>
            <h2 class="article__title--black --green">starter</h2>
            <p class="article__description">
                Hello, little man. I will destroy you! Bender?! You stole the atom.
            </p>
        </article>
        <article class="new-article article--tablet">
                <figure class="article__image">
                    <img src="img/back3.jpg" alt="Imagen3">
                </figure>
                <h2 class="article__title--gray">Move cargo With</h2>
                <h2 class="article__title--black --green">The Capacitor</h2>
                <p class="article__description">
                    I suppose I could part with 'one' and still be feared… Doomsday device? 
                </p>
            </article>
            <article class="new-article article--desktop">
                <figure class="article__image">
                    <img src="img/back4.jpg" alt="Imagen4">
                </figure>
                <h2 class="article__title--gray">Great gift</h2>
                <h2 class="article__title--black --green">certificates</h2>
                <p class="article__description">
                    Hello, little man. I will destroy you! Bender?! You stole the atom.
                </p>
            </article>
    </section>
    <section class="articles__complements">
        <article class="new-article article__quote">
            <div class="quote">
                <h3 class="quote--big article__title--gray">"oh wait you're serious... let me laugh even harder"</h3>
                <h5 class="quote__autor--small"> -Robert Z.</h5>
            </div>
        </article>
        <article class="new-article article__last">
            <h2 class="article__title--gray --green">From the blog: Struck by Lightning</h2>
            <div class="article__last--info">
                <p class="article__description">
                    Kids have names? Please, Don-Bot… look into your hard drive, and open your mercy file! Bite my shiny metal ass. I'm sorry, guys. I never meant to hurt you.
                    <br>
                    <a href="#">Read more</a>
                </p>
                <figure class="article__image">
                    <img src="img/back5.jpg" alt="Imagen5">
                </figure>
            </div>
        </article>
    </section>
    <footer class="footer__section">
        <button class="footer__button--green">
            Find you perfect ride
        </button>
    </footer>

    <!--<script src="function.js" async></script>-->
</body>
</html>