body {
    margin: 0;
}

.button__container {
    padding: 1em;
    text-align: center;
}

.success__img {
    width: 100%;
    max-width: 250px;
    display: none;
}

.main__button {
    text-align: center;
}