<!DOCTYPE html>
<html>
    <head lang="es">
        <link rel="stylesheet" href="styles.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ejemplo de Layouts</title>
    </head>
    <body>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__item">
                    <a href="" class="navbar__link">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">About us</a>
                </li>
                <li class="navbar__item">
                    <a href="" class="navbar__link">Contact</a>
                </li>
            </ul>
        </nav>

        <br>
        <br>
        <hr>
        <br>
        <br>



        <nav class="navbar--flex">
            <ul class="navbar__list--flex">
                <li class="navbar__item--flex">
                    <a href="" class="navbar__link--flex">FlexBox</a>
                </li>
                <li class="navbar__item--flex">
                    <a href="" class="navbar__link--flex">About us</a>
                </li>
                <li class="navbar__item--flex">
                    <a href="" class="navbar__link--flex">Contact</a>
                </li>
            </ul>
        </nav>

        
        <br>
        <br>
        <hr>
        <br>
        <br>



        <nav class="navbar--grid">
            <ul class="navbar__list--grid">
                <li class="navbar__item--grid">
                    <a href="" class="navbar__link--grid">Grid</a>
                </li>
                <li class="navbar__item--grid">
                    <a href="" class="navbar__link--grid">About us</a>
                </li>
                <li class="navbar__item--grid">
                    <a href="" class="navbar__link--grid">Contact</a>
                </li>
            </ul>
        </nav>

        
        <br>
        <br>
        <hr>
        <br>
        <br>



        <nav class="navbar--mobile">
            <ul class="navbar__list--mobile">
                <li class="navbar__item--mobile">
                    <a href="" class="navbar__link--mobile">About us</a>
                </li>
                <li class="navbar__item--mobile">
                    <a href="" class="navbar__link--mobile">About us</a>
                </li>
                <li class="navbar__item--mobile">
                    <a href="" class="navbar__link--mobile">Contact</a>
                </li>
            </ul>

            <button class="navbar__menu--mobile toogleSidenav">Menu</button>
        </nav>

        <nav class="sidenav">
            <span class="toogleSidenav">X</span>
            </ul>
                <li class="sidenav__item">
                    <a href="" class="sidenav__link">Mobile</a>
                </li>
                <li class="sidenav__item">
                    <a href="" class="sidenav__link">About us</a>
                </li>
                <li class="sidenav__item">
                    <a href="" class="sidenav__link">Contact</a>
                </li>
            </ul>
        </nav>
        <script src="index.js" async></script>
    </body>
</html>